body{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    width:100%;
    background-color: lightblue;
}
.button{
    height:400px;
    width:400px;
    border: 2px solid black;
    margin: 5px;
    padding:5px;  
    border-radius: 20px;
}
.btn{
    justify-content: center;
    display: flex;
    align-items: center;
}
    #grey{
        border: 2px solid black;
        height:80px;
        width:80px;
        background-color: grey;
    }
    #orange{
        border: 2px solid black;
    height:80px;
    width:80px;
    background-color: orange;
}
#green{
    border: 2px solid black;
    height:80px;
    width:80px;
    background-color: green;
}
#brown{
    border: 2px solid black;
    height:80px;
    width:80px;
    background-color: brown;
}